/*******************/
/* Header details */
/*******************/
.header-section {
  display: grid;
  padding-top: 5px;
}
.nav-section {
  margin-left: auto;
}
.link:link,
.link:visited {
  text-decoration: none;
  color: gray;
  transition: all 0.3sec;
}
.link:hover,
.link:visited {
  color: rgba(128, 128, 128, 0.651);
}
.menu-section {
  grid-template-columns: 1fr 4fr;
  display: grid;
}
.main-cart-detail {
  display: flex;
  margin-bottom: 10px;
}
.no-product-detail {
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.menu-cart-section {
  display: flex;
  text-align: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.btn-section {
  position: absolute;
  left: 0;
  bottom: 20px;
}

/**************************/
/* CART SECTION */
/**************************/
.cart-section {
  padding: 5px;
  background-color: gainsboro;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.cart-icon {
  fill: #bf2957;
  height: 2em;
  vertical-align: bottom;
}

/*******************/
/* Divider */
/*******************/
.divider-border {
  /* box-shadow: 0px 5px #888888d5; */
}
/*******************/
/* product details */
/*******************/
.btn-padding {
  padding: 10px;
}
.product-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  position: relative;
}
.product-section {
  background-color: #e9ecef;
  display: flex;
  /* text-align: left; */
  flex-direction: column;
}
.products-lists {
  height: 40px;
  cursor: pointer;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: left;
  border-bottom: 1px solid gray;
}
.product-des {
  background-color: rgba(207, 203, 203, 0.555);
  margin-bottom: 10px;
  padding: 2px;
  height: 60px;
}
.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* position: relative; */
  /* border: 1px solid seagreen; */
}
.cart-details {
  display: flex;
  flex-direction: column;
}
.product-detail {
  /* border: 1px solid seagreen; */
}
.footer-section {
  background-color: #e9ecef;
  /* background-color: tomato; */
  text-align: center;
  padding: 5px;
  /* position: fixed; */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.product-detail {
}
.product-title {
  font-size: 16px;
  max-height: 50px;
  font-weight: 700;
  min-height: 50px;
  margin-bottom: 10px;
}
.product-image {
  width: 150px;
}
.product-price-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.product-price {
}

/* .product-btn,
.product-btn:link,
.product-btn:visited {
  padding: 10px 0px;
  background-color: hsl(342deg 65% 45%);
  color: white;
} */
.product-detail {
  /* border-bottom: 1px dotted gray; */
  padding: 10px;
}

.product-des p {
  font-size: 14px;
}
/* .pop-cart-details {
  display: none;
} */
.product-cart-details {
  position: absolute;
  background-color: rgb(238, 234, 234);
  top: 0px;
  right: 0px;
  display: none;
}
.top-cart-section {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 50px;
  align-items: center;
  padding: 0px 10px;
}
.closeBtn {
  cursor: pointer;
}

.pop-cart-details {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}
.dotted-line {
  border: 1.5px dotted gray;
  margin-top: 10px;
}

/* Style the active class, and buttons on mouse-over */
li.active {
  background-color: red;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .content-center {
    width: 100%;
  }
  /* signup and signin */
  .menu-section {
    grid-template-columns: 1fr;
  }
  .product-price,
  .nav-section,
  .btn-section {
    display: none;
  }
  .product-details {
    display: block;
    /* grid-column: 1/-1;
    grid-template-columns: 1fr; */
  }
  .product-container {
    grid-template-columns: 1fr;
  }
  .product-price-section {
    grid-template-columns: 1fr;
    grid-column: 1/-1;
  }
  .product-cart-details {
    width: 100%;
    /* height: 100vh; */
  }
  .product-tablet {
    display: flex;
  }
  .des-tablet {
    display: grid;
  }
  .img-photo-container:last-child,
  .product-detail:last-child {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* For tablet phones: */
  .content-center {
    width: 100%;
  }
  /* .same-padding-sm {
    display: none;
  } */
  .product-details {
    grid-template-columns: 1fr 1fr;
  }
  .product-price {
    display: none;
  }
  .product-price-section {
    grid-template-columns: 1fr;
    grid-column: 1/-1;
  }
  .product-img-set {
    display: flex;
  }

  .product-cart-details {
    width: 100%;
    /* height: 100vh; */
  }
  .product-tablet {
    display: flex;
  }
  .des-tablet {
    display: grid;
  }
  .product-title {
    max-height: 50px;
    min-height: 50px;
  }
}
